/* Margin */

.mgr-0 { margin-right: 0;}
.mgr-1 { margin-right: 3px;}
.mgr-2 { margin-right: 9px;}
.mgr-3 { margin-right: 15px;}

.mgl-0 { margin-right: 0;}
.mgl-1 { margin-right: 3px;}
.mgl-2 { margin-right: 9px;}
.mgl-3 { margin-right: 15px;}

.mgt-0 { margin-right: 0;}
.mgt-1 { margin-right: 3px;}
.mgt-2 { margin-right: 9px;}
.mgt-3 { margin-right: 15px;}

.mgb-0 { margin-right: 0;}
.mgb-1 { margin-right: 3px;}
.mgb-2 { margin-right: 9px;}
.mgb-3 { margin-right: 15px;}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}