@import "custom/general.css";
@import "custom/navi.css";
@import "custom/symbol.css";
@import "custom/app.css";
.c-section h2 {
    font-size: 23px;
    color: #acb5bd;
    margin: 5px 0;
    font-weight: 700;
    text-transform: uppercase;
}